# Importing Necessary Libraries


## What are libraries?

These are precoded modules that can help you code faster. It allows you to do things better and faster.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Begin with the End in Mind

## What do we want to do?

Lets say that we are provided different files and we need to consolidate the different datasets.

Usual flow is :

    1) Inspect if possible - excel or other software
    2) What is the data type?
    3) What are the available columns? 
    4) Are they of the same type?

## PseudoCode

    1) Read all files
    2) Check datatypes
    3) Apply Necessary Changes
    4) Combine all

In [3]:
# Drugstore A
df_drugstore_a = pd.read_parquet('./Drugstore A.parquet')

In [5]:
df_drugstore_a.shape

(262875, 4)

In [7]:
df_drugstore_a.dtypes

Date           object
Medicine       object
Sales         float64
Drugstores     object
dtype: object

In [9]:
df_drugstore_a['Date'] = pd.to_datetime(df_drugstore_a['Date'])

In [10]:
df_drugstore_a.dtypes

Date          datetime64[ns]
Medicine              object
Sales                float64
Drugstores            object
dtype: object

In [13]:
# Method 1:
# Datetypes can be set using this code

df_drugstore_b = pd.read_csv('./Drugstore B.csv' ,dtype={'Date': 'str',
                                                 'Medicine':'str',
                                                 'Sales':'float',
                                                 'Drugstores' : 'str'}, parse_dates=['Date'])

df_drugstore_b

                      Date Medicine  Sales   Drugstores
0      1388660400000000000    M01AB    0.0  Drugstore B
1      1388664000000000000    M01AB    0.0  Drugstore B
2      1388667600000000000    M01AB    0.0  Drugstore B
3      1388685600000000000    M01AB    0.0  Drugstore B
4      1388732400000000000    M01AB    0.0  Drugstore B
...                    ...      ...    ...          ...
60611  1570334400000000000      R06    0.0  Drugstore B
60612  1570370400000000000      R06    0.0  Drugstore B
60613  1570496400000000000      R06    0.0  Drugstore B
60614  1570510800000000000      R06    0.0  Drugstore B
60615  1570518000000000000      R06    0.0  Drugstore B

[60616 rows x 4 columns]

In [15]:
df_drugstore_b.dtypes

Date           object
Medicine       object
Sales         float64
Drugstores     object
dtype: object

In [17]:
df_drugstore_b = pd.read_csv('./Drugstore B.csv' ,dtype={'Date': 'str',
                                                 'Medicine':'str',
                                                 'Sales':'float',
                                                 'Drugstores' : 'str'})

In [19]:
df_drugstore_b['Date']

0         1/2/2014 11:00
1         1/2/2014 12:00
2         1/2/2014 13:00
3         1/2/2014 18:00
4          1/3/2014 7:00
              ...
60611     10/6/2019 4:00
60612    10/6/2019 14:00
60613     10/8/2019 1:00
60614     10/8/2019 5:00
60615     10/8/2019 7:00
Name: Date, Length: 60616, dtype: object

In [21]:
df_drugstore_b['Date'] = pd.to_datetime(df_drugstore_b['Date'])

df_drugstore_b.dtypes

Date          datetime64[ns]
Medicine              object
Sales                float64
Drugstores            object
dtype: object

In [23]:
# Drugstore C

df_drugstore_c = pd.read_excel('./Drugstore C.xlsx',
                               sheet_name='Complete Sheet',
                               skiprows = 2)

In [24]:
df_drugstore_c.dtypes

Date           object
Medicine       object
Sales         float64
Drugstores     object
dtype: object

In [27]:
df_drugstore_c['Date'] = pd.to_datetime(df_drugstore_c['Date'])

In [29]:
df_drugstore_c.dtypes

Date          datetime64[ns]
Medicine              object
Sales                float64
Drugstores            object
dtype: object

In [31]:
# Appending

In [33]:
df_drugstore_a
df_drugstore_b
df_drugstore_c

                     Date Medicine  Sales   Drugstores
0     2014-01-02 08:00:00    M01AB    0.0  Drugstore C
1     2014-01-02 09:00:00    M01AB    0.0  Drugstore C
2     2014-01-02 16:00:00    M01AB    0.0  Drugstore C
3     2014-01-02 17:00:00    M01AB    0.0  Drugstore C
4     2014-01-02 21:00:00    M01AB    0.0  Drugstore C
...                   ...      ...    ...          ...
80760 2019-10-08 04:00:00      R06    0.0  Drugstore C
80761 2019-10-08 06:00:00      R06    0.0  Drugstore C
80762 2019-10-08 17:00:00      R06    0.0  Drugstore C
80763 2019-10-08 18:00:00      R06    0.0  Drugstore C
80764 2019-10-08 19:00:00      R06    0.0  Drugstore C

[80765 rows x 4 columns]

In [35]:
# Method a

df_final_method_a = df_drugstore_b.append(df_drugstore_a).append(df_drugstore_c)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
pd.concat([df_drugstore_a,df_drugstore_b,df_drugstore_c])

In [ ]:
# Method b

df_final_method_b = pd.concat([df_drugstore_a,df_drugstore_b,df_drugstore_c])

In [ ]:
df_final_method_b.to_csv('./combined data.csv')

In [ ]:
df_final_method_b.to_excel('./combined data.xlsx')